/* Layout */
html, body, #home {
	height: 100%;
}

html {overflow-x: hidden;}

body {
	background: url(../pics/capa.png),
				url(../pics/ruido.png),
				-o-linear-gradient(40deg,#ff4169,#7c26f8);
	background: url(../pics/capa.png),
				url(../pics/ruido.png),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
/*geral*/
h2 {
	font-size: 1.9em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* nav */
nav {
	line-height: 40px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: #FFF;}

.navbar-light .navbar-nav .nav-link:hover {
	color: #169b45; 
	-webkit-transform: scale(1.05); 
	    -ms-transform: scale(1.05); 
	        transform: scale(1.05);}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.5);
}

.div {
	width: 1px;
	margin: 12px 15px;
	background: #FFF;}

.div2 {
	border-bottom: 1px solid white; 
	width: 30px; 
	margin: 10px 0px;}

/*principal*/
#home {
	text-align: center;}

#home h1 {
	font-weight: bold;
	color: #1ed760;}
#home p {
	padding: 15px;
	color: #FFF;}

.btn-custom {
	color: #FFF;
	border-radius: 80px;
	-webkit-transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	text-transform: uppercase;
	background: #1ed760;
	font-size: 16px;
}

.btn-custom:hover {
	-webkit-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	        transform: scale(1.04);
	color:  #FFF;
}

/*services*/
#services {
	background: #FFF;
	padding: 30px 0 0 0;
}
#services img {padding-bottom: 25px;}

#services h2 {color: #7c25f7;}
#services h3 {color: #9860e6;}

/*resources*/
#resources {
	padding: 30px 0 0 30px;
}
#resources h2 {color: #9bf0e1;}
#resources h3 {color: #6fd1cc;}
#resources p {color: #FFF;}

.rot {
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
	padding: 0 0 80px 80px;}

/*footer*/
footer {
	background: #000;
	padding: 50px 0px 20px 10px;
	position: relative;
	}

footer h6 {
	color: #919496;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding-top: 15px;}

footer a {
	color: white;
	line-height: 40px;
	text-decoration: none;
}

footer a:hover {
	color: #169b45;}

#social li {
	float: left; 
	list-style: none;
	padding: 10px;}

/*media queries*/
	/*// Extra small devices (portrait phones, less than 576px)*/
	@media (max-width: 575.98px) {
		#home h1 {font-size: 3.4em}
		#home h1.eve {margin-top: -19px;}
	}

	/*// Small devices (landscape phones, 576px and up)*/
	@media (min-width: 576px) and (max-width: 767.98px) {
		#home h1 {font-size: 5em}
		#home h1.eve {margin-top: -19px;}
	}

	/*// Medium devices (tablets, 768px to 991.98)*/
	@media (min-width: 768px) and (max-width: 991.98px) {
		#home h1.list {font-size: 7em}
		#home h1.eve {font-size: 7em; margin-top: -30px;}		
	}

	/*// Large devices (tablets, 768px and up)*/
	@media (min-width: 992px) {
		#home h1.list {font-size: 8em;}
		#home h1.eve {font-size: 8em; margin-top: -30px;}
	}
	/*// X-Large devices (large desktops, 1200px and up)*/
	@media (min-width: 1200px) {
		#home h1.list {font-size: 8em; margin-left: -100px;}
		#home h1.eve {font-size: 8em; margin-right: -100px; margin-top: -30px;}
	}