/* Layout */
html, body, #main {
	height: 100%;
}

html {
	overflow-x: hidden;
}

body {
	background: url(../pics/capa.png),
				url(../pics/ruido.png),
				-o-linear-gradient(40deg,#ff4169,#7c26f8);
	background: url(../pics/capa.png),
				url(../pics/ruido.png),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

/* All */
h2 {
	font-size: 1.9em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h4 {
	font-size: 1.3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

li {
	list-style: none;
}

/* Navegation Bar */
nav {
	line-height: 40px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: #FFF;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #169b45; 
	-webkit-transform: scale(1.05); 
	    -ms-transform: scale(1.05); 
	        transform: scale(1.05);
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.5);
}

.nav-div1 {
	width: 1px;
	margin: 12px 15px;
	background: #FFF;
}

.nav-div2 {
	border-bottom: 1px solid white; 
	width: 30px; 
	margin: 10px 0px;
}

/* Main */
#main {
	text-align: center;
}

#main h1 {
	font-weight: bold;
	color: #1ed760;
	cursor: default;
}

#main p {
	padding: 15px;
	color: #FFF;
	cursor: default;
}

.btn-custom {
	border-radius: 80px;
	-webkit-transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	text-transform: uppercase;
	background: rgba(30, 215, 96, 0.8);
	color: #FFF;
}

.btn-custom:hover {
	-webkit-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	        transform: scale(1.04);
	background: rgba(30, 215, 96, 1);
	color: #FFF;
}

/* Footer */
footer {
	background: #000;
	padding: 50px 0px 20px 10px;
	position: relative;
}

footer h6 {
	color: #919496;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding-top: 15px;
	cursor: default;
}

footer a {
	color: white;
	line-height: 40px;
	text-decoration: none;
}

footer a:hover {
	color: #169b45;
}

#social li {
	float: left; 
	padding: 10px;
}

/* Second - services */
#second {
	background: #FFF;
	padding: 30px 0 5px 0;
}

#second img {
	padding-bottom: 25px;
}

#second h2 {
	color: #7c25f7;
}

#second h3 {
	color: #9860e6;
}

/* Third - resources */
#third {
	padding: 30px 0;
}

#third h2 {
	color: #9b70e1;
}

#third h3 {
	color: #bba0e8;
}

#third p {
	color: #FFF;
}

/*resources
#resources {padding: 30px 0;}
#resources h2 {color: #9bf0e1;}
#resources h3 {color: #6fd1cc;}
#resources p {color: #FFF;}
#resources img {
	margin-bottom: -100px;
}

.rot {
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
	padding: 0 0 80px 80px;}



/* Media Queries */
	/** Extra small devices (portrait phones, less than 576px) **/
	@media (max-width: 575.98px) {
		#main h1 {font-size: 3.4em}
		#main h1.main-t1
		#main h1.main-t2 {margin-top: -19px;}
	}

	/** Small devices (landscape phones, 576px and up) **/
	@media (min-width: 576px) and (max-width: 767.98px) {
		#main h1 {font-size: 5em}
		#main h1.main-t1 {}
		#main h1.main-t2 {margin-top: -19px;}
	}

	/** Medium devices (tablets, 768px to 991.98) **/
	@media (min-width: 768px) and (max-width: 991.98px) {
		#main h1 {font-size: 6em}
		#main h1.main-t1 {}
		#main h1.main-t2 {margin-top: -30px;}		
	}

	/*// Large devices (tablets, 768px and up) **/
	@media (min-width: 992px) {
		#main h1 {font-size: 7em;}
		#main h1.main-t1 {}
		#main h1.main-t2 {margin-top: -30px;}
	}
	/** X-Large devices (large desktops, 1200px and up) **/
	@media (min-width: 1200px) {
		#main h1 {font-size: 8em;}
		#main h1.main-t1 {margin-left: -170px;}
		#main h1.main-t2 {margin-right: -170px; margin-top: -40px;}
	}